@font-face {
    font-family: 'mailart_rubberstampregular';
    font-style: normal;
    font-weight: normal;
    src: url('files/MailartRubberstamp-Regular.woff') format('woff');
}

* {
    background-color:rgb(191, 235, 235);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    font-family: 'Rye', cursive; 
    font-size: 60px;
    margin-top: 10px;
    text-align: center;
}

h1 {
    background-color: #FFF7EC;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 26px;
    font-weight: normal;
    margin: auto;
    text-align: center;
}

.sign {
    background-color:#cc8800;
    background-image: url(files/white-sign-background.svg);
    border: solid;
    border-style: outset;
    height: 60px;
    line-height: 60px;
    margin-top:0;
    transform: scale(.7);
    width: 350px;
}

.hidden {
    display: none !important;
}

#new-book-form {
    background-color: #FFF7EC;
    border: solid;
    border-color:#FFF7EC;
    border-width: 1px 60px 210px 50px;
    height:300px;
    margin: auto;
    margin-top: 20px;
    outline:solid;
    width: 60%;
}

label {
    background-color: #FFF7EC;
    font-size: large;
}

input {
    background-color: white;
    border-radius: 6px;
    font-family: sans-serif;
    font-size: 16px;
    width: 60%;
    height: 30px;
    margin: 10px;
    margin-bottom: 20px;
    width: 100%;
}

select {
    background-color: white;
    font-size: larger;
    margin-left: 20px;
}

#read-status-label {
    font-size: x-large;
}

#close-btn {
    background-color: #FFF7EC;
    border: none;
    font-size: 25px;
    margin-left:-40px;
    margin-top:10px;
}

#submit-btn {
    background-color: white;
    border-radius: 6px;
    display: block;
    font-size: 40px;
    margin: 40px auto;
    width: auto;
}

#new-book-btn {
    background-color:#FFF7EC;
    background-image: url(files/white-button-background.svg);
    background-size:45px 385px;
    border-color:#cc8800;
    border-radius: 6px;
    border-width: 8px;
    color:black;
    font-size: 28px;
    font-family: 'mailart_rubberstampregular';
    height: 400px;
    margin-right:10px;
    width: 60px;
}

#library-shelf {
    background-color: #cc8800;
    background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
    border-radius: 4px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top:20px;
    padding-left: 10px;
    padding-right: 20px;
}

.shelved-books {
    border: solid;
    display:inline-block;
    height: 350px;
    margin-bottom: 22px;
    margin-top: 22px;
    overflow-wrap: break-word;
    padding: 0px;
    position: relative;
    text-align: center;
    vertical-align: bottom;
    width:100px;
}

.book-btns {
    background-color: #cccccc;
    background-image: url(files/gold-book-plate.svg);
    font-family: 'Cabin Sketch', cursive;
    height: 35px;
    left: 0;    
    margin-left: auto;
    margin-right: auto;
    right: 0;
    text-align: center;
    width: 85px;
}

.status-btn {
    bottom: 56px;
    position: absolute;
}

.remove-btn {
    bottom: 10px;
    position: absolute;
}

.gold-text {
    /* https://www.theblogmarket.co/create-gold-foil-text-with-css/ */
    background: -webkit-linear-gradient(transparent, transparent),
    url(files/Gold\ Leaf\ Background.jpeg.crdownload) repeat;
    background: -o-linear-gradient(transparent, transparent);
    background-clip: text;
    color:#c3a343;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: 'mailart_rubberstampregular';
    font-size: 26px;
}

h3 {
    font-family:'mailart_rubberstampregular';
    font-size:18px;
    font-weight:900;
    position:absolute;
    top:135px;
    vertical-align:top;
    width:100px;
}

h4 {
    bottom:80px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    left: 50%;
    position:absolute;
    transform: translate(-50%, 0);
}