@font-face {
    font-family: 'mailart_rubberstampregular';
    src: url('MailartRubberstamp-Regular-webfont.woff2') format('woff2'),
         url('MailartRubberstamp-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: oldlace;
}

header {
    font-family: 'Rye', cursive; 
    font-size: 60px;
    margin-top: 10px;
    text-align: center;
}

h1 {

    font-family: 'Cinzel Decorative', cursive;
    font-size: 26px;
    font-weight: normal;
    margin: auto;
    text-align: center;
}

.sign {
    background-color: white;
    background-image: url(white-sign-background.svg);
    border: solid;
    border-style: outset;
    height: 60px;
    line-height: 60px;
    transform: scale(.7);
    width: 350px;
    margin-top:8px;
}

.hidden {
    display: none !important;
}

#form-header {
    margin-top: 30px;
}

#new-book-form {
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
}

label {
    font-size: large;
}

input {
    width: 100%;
    background-color: white;
    border-radius: 6px;
    font-family: sans-serif;
    font-size: 16px;
    height: 30px;
    margin: 10px;
}

select {
    font-size: larger;
    background-color: white;
    margin-left: 20px;
}

#read-status-label {
    font-size: x-large;
}

.main-btn {
    border-radius: 6px;
    display: block;
    margin: 0 auto; 
    background-color: white;
    font-size: larger;
    /* margin-top: 30px; */
    width: 175px;
}

#library-shelf {
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    height: 375px;
    margin-top:20px;
    margin-left: 5%;
    margin-bottom: 20px;
    background-color: #cc8800;
    background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
    width:80%;
}

.shelved-books {
   position: relative;
   border: solid;
    display:inline-block;
    vertical-align: bottom;
    height: 350px;
    padding: 0px;
    text-align: center;
}

.book-btns {
    background-image: url(gold-book-plate.svg);
    background-color: #cccccc;
    width: 85px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
        font-family: 'Cabin Sketch', cursive;
    /* font-family: 'Fredericka the Great', cursive; */
    /* font-family: 'Miltonian', cursive; */
    /* font-family: 'Rye', cursive;  */
}

.status-btn {
   position: absolute;
   bottom: 56px;
}
.remove-btn {
    position: absolute;
    bottom: 10px;

}

.widest {
    width: 150px !important;
}

.wider {
    width: 130px !important;
}

.wide {
    width: 110px !important;
}

.gold-text {
    /* https://www.theblogmarket.co/create-gold-foil-text-with-css/ */
    color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url(Gold\ Leaf\ Background.jpeg.crdownload) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
}

h2 {
    font-family: 'mailart_rubberstampregular';
    font-size: 26px;
}

h3 {
    font-family:'mailart_rubberstampregular';
    font-size:18px;
    font-weight:900;
    position:absolute;
    top:100px;
    vertical-align:top;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    position:absolute;
    text-align: center;
    bottom:100px;
    left: 50%;
    transform: translate(-50%, 0);
}